.updateFormContainer {
  :global {
    .ant-form-item-control-input-content {
      width: 100%;
    }
    .ant-input-number-group-wrapper {
      width: 100%;
    }
    .ant-upload {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 6px 0;
    }
  }

  .section {
    margin-bottom: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }
}
